body {
    direction: rtl;
    text-align: right;
}
.main-slider-two__bg {
    transform: scaleX(-1) !important;
}

.owl-carousel,
.main-menu-two__call-number,
.footer-widget-two__contact-location,
.footer-widget__emergency-call a,
.footer-widget__contact-location,
.mobile-nav__contact li a {
    direction: ltr;
}

.main-slider-two__btn-box {
    justify-content: flex-end;
    text-align: right;
}

.main-menu-two__logo {
    margin-right: 0;
    margin-left: 125px;
}
.main-header-two__contact-list li+li,
.main-menu .main-menu__list>li+li{
    margin-left: 0;
    margin-right: 35px;
}
.main-header-two__contact-list li:before {
    left: unset;
    right: -22px;
}
.main-header-two__contact-list li .text,
.main-menu-two__call-content {
    margin-left: unset;
    margin-right: 10px;
}
.main-menu-two__call,
.main-menu-two__search-box {
    margin-right: unset;
    margin-left: 40px;
}

.main-menu-two__search:after {
    right: unset;
    left: -20px;
}
.mobile-nav__close {
    right: unset;
    left: 20px;
}

.mobile-nav__contact li>i {
    margin-right: unset;
    margin-left: 10px;
}

.section-title__tagline::before {
    right: unset;
    left: -43px;
}

.main-slider-two .owl-theme .owl-dots {
    right: unset;
    left: 0;
}
.main-slider-two .owl-theme .owl-dots .owl-dot span:before {
    right: unset;
    left: 40px
}
.main-slider-two__shape-1 {
    right: unset;
    left: -202px;
}
.main-slider-two__shape-2 {
    right: unset;
    left: -184px;
}

.services-two__btn {
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}
.services-two__btn span {
    transform: rotate(180deg);
}

.thm-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    width: max-content;
}
.thm-btn .icon-right-arrow {
    transform: rotate(180deg);
}
.main-slider-two__btn.thm-btn {
    flex-direction: row-reverse;
}

.about-two__list li .text {
    margin-left: unset;
    margin-right: 11px;
}

.counter-one__count {
    margin-left: unset;
    margin-right: 23px;
    padding-right: 23px;
}
.counter-one__count::before {
    left: unset;
    right: 0;
}

.testimonial-two__right {
    margin-right: unset;
    margin-left: -250px;
}

.services-two .about-two__content-btn {
    display: flex !important;
    justify-content: center !important;
}

.footer-widget-two__services,
.footer-widget-two__contact {
    margin-right: 33px;
    margin-left: -10px;
}
.footer-widget-two__services ul {
    padding-right: 0;
}
/* .footer-widget-two__contact {
    margin-left: unset;
    margin-right: 83px;
} */
.footer-widget-two__contact ul {
    padding-right: 0;
}
.about-two__content-inner ul,
.about-two__content-list,
.footer-widget__services-list,
.footer-widget__contact-list,
.mobile-nav__contact {
    padding-right: 0;
}
.about-two__list li .icon {
    transform: rotate(180deg);
}

.about-two__content-list-text {
    margin-left: unset;
    margin-right: 15px;
}

.scroll-to-top,
.whatsapp {
    right: unset;
    left: 50px;
}

.search-popup__content .thm-btn {
    right: unset;
    left: -1px;
}
.search-popup__content form input[type="search"], .search-popup__content form input[type="text"] {
    padding-left: unset;
    padding-right: 30px;
}

.services-one__content,
.mobile-nav__social a+a {
    margin-left: unset;
    margin-right: 30px;
}
.services-one__learn-more>span {
    margin-left: unset;
    margin-right: 8px;
    transform: rotate(180deg);
}

@media (max-width: 767px) {
    .main-slider-two__btn-box {
        justify-content: center;
    }
    .main-menu-two__logo {
        margin-left: 90px;
    }
    .main-menu-two__btn {
        padding: 10px 20px;
    }
    .scroll-to-top,
    .whatsapp {
        right: unset;
        left: 25px;
    }
}
@media (max-width: 360px) {
    .main-menu-two__logo {
        margin-left: 70px;
    }
}
@media (min-width: 768px) {
    .faq-one__left {
        margin-right: -208px;
        margin-left: 45px;
    }
    .about-two__img {
        padding-left: unset;
        padding-right: 145px;
    }
}